In [1]:
import pandas as pd
import numpy as np
import nfl_data_py as nfl
import matplotlib.pyplot as plt

In [15]:
rushers = pd.read_csv('punt rush counts.csv')
rushers

,season,week,quarter,clock,down,distance,field_position,offense,defense,punt_rush_count
0,2017,1,3,0:31,4,5,-30,CIN,BLT,1.0
1,2017,1,3,4:10,4,8,-49,DET,ARZ,NaN
2,2017,1,4,12:34,4,12,-24,BLT,CIN,NaN
3,2017,1,4,15:00,4,21,-39,PHI,WAS,NaN
4,2017,1,4,10:38,4,10,48,TEN,OAK,NaN
...,...,...,...,...,...,...,...,...,...,...
12066,2022,9,1,10:49,4,11,-17,BLT,NO,1.0
12067,2022,9,1,8:32,4,1,-31,NO,BLT,2.0
12068,2022,9,2,15:00,4,16,-14,NO,BLT,NaN
12069,2022,9,2,11:53,4,9,-45,BLT,NO,1.0
12070,2022,9,2,9:14,4,2,-30,NO,BLT,2.0

In [16]:
rushers = rushers[rushers['season'] != 2022]
rushers

,season,week,quarter,clock,down,distance,field_position,offense,defense,punt_rush_count
0,2017,1,3,0:31,4,5,-30,CIN,BLT,1.0
1,2017,1,3,4:10,4,8,-49,DET,ARZ,NaN
2,2017,1,4,12:34,4,12,-24,BLT,CIN,NaN
3,2017,1,4,15:00,4,21,-39,PHI,WAS,NaN
4,2017,1,4,10:38,4,10,48,TEN,OAK,NaN
...,...,...,...,...,...,...,...,...,...,...
11219,2021,18,4,1:34,4,5,-45,LA,SF,1.0
11220,2021,18,4,4:59,4,3,-28,MIA,NE,NaN
11221,2021,18,4,7:36,4,15,-20,NYJ,BUF,4.0
11222,2021,18,4,3:20,4,20,-15,NYJ,BUF,NaN
11223,2021,18,4,0:14,4,10,47,MIA,NE,3.0

In [17]:
num_rushers_dict = rushers['punt_rush_count'].value_counts()
num_rushers_dict

1.0     2482
2.0     1065
3.0      463
4.0      359
5.0      336
6.0      278
8.0      174
7.0      174
9.0       17
10.0       3
11.0       1
Name: punt_rush_count, dtype: int64

In [18]:
rushers['punt_rush_count'] = rushers['punt_rush_count'].fillna(0)

/var/folders/zg/329ty9ws0hlfcxk3nkfm6s9r0000gn/T/ipykernel_69185/3630387408.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rushers['punt_rush_count'] = rushers['punt_rush_count'].fillna(0)

In [19]:
num_rushers_dict = rushers['punt_rush_count'].value_counts()
num_rushers_dict

0.0     5609
1.0     2482
2.0     1065
3.0      463
4.0      359
5.0      336
6.0      278
8.0      174
7.0      174
9.0       17
10.0       3
11.0       1
Name: punt_rush_count, dtype: int64

In [20]:
rushers = rushers[rushers['punt_rush_count'] == 10.0]
rushers

,season,week,quarter,clock,down,distance,field_position,offense,defense,punt_rush_count
4979,2019,4,1,6:30,4,14,-33,BUF,NE,10.0
10235,2021,12,4,0:31,4,12,40,NYJ,HST,10.0
10285,2021,11,4,0:23,4,16,-46,HST,TEN,10.0